#tags-list .tag {
    font-size: 150%;
    overflow: hidden;
}

#tags-add-form {
    margin-bottom: 40px;
}

#tags-name-input {
    width: 498px;
}

#stream-items {
    list-style-type: none;
    padding-left: 0;
}

#stream-scroll-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}