#logo-img {
    display: inline;
}

#logo-text {
    vertical-align: middle;
}

#tags-list .tag {
    font-size: 150%;
    overflow: hidden;
}

#tags-add-form {
    margin-bottom: 40px;
}

#tags-name-input {
    width: 498px;
}

#stream-items {
    list-style-type: none;
    padding-left: 0;
}

#stream-scroll-to-top-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#stream-show-new-items-btn.ui-scrollfix {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -77px;
}