<div id="stream" class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Stream for <strong class="text-primary">{{ tag.name }}</strong></h1>
        </div>
        <p class="text-center">
            <button class="btn btn-primary" ng-show="newItems.length > 0" ng-click="showNewItems()">View {{ newItems.length }} new items(s)</button>
        </p>
        <ul id="stream-items">
            <li class="thumbnail" ng-repeat="item in currentItems">
                <img ng-show="item.img" ng-src="{{ item.img }}"/>
                <div class="caption">
                    <h3 ng-show="item.header">{{ item.header }}</h3>
                    <p ng-show="item.body">{{ item.body }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
