<div id="tags" class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Select stream source:</h2>
        <div>
            <label class="radio-inline">
                <input type="radio" name="contentProvider" value="instagram" ng-model="contentProvider" ng-model-options="{getterSetter: true}"/>Instagram
            </label>
            <label class="radio-inline">
                <input type="radio" name="contentProvider" value="googlenews" ng-model="contentProvider" ng-model-options="{getterSetter: true}"/>Google news
            </label>
        </div>
        <h2>Select tag:</h2>
        <div id="tags-list" class="list-group">
            <a class="list-group-item tag" ng-repeat="tag in tags" ui-sref="stream({'source': contentProvider(), 'tag': tag.name})">
                {{ tag.name }}
                <button class="btn btn-danger delete-btn pull-right" ng-click="removeTag(tag, $event)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </a>
        </div>
        <form id="tags-add-form" class="form-inline" name="addTagForm" ng-submit="addTag(addTagForm)" novalidate>
            <div class="form-group" ng-class="{'has-error': addTagForm.$submitted && !addTagForm.name.$valid}">
                <input id="tags-name-input" name="name" class="form-control input-lg" type="text" placeholder="New tag" ng-model="newTag.name" required />
                <button type="submit" class="btn btn-lg btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </form>
    </div>
</div>
